<p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
<p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
<div class="w-full max-w-xs mx-auto">
<h1 class="font-large w-full text-gray-800 text-center">Sign in</h1>

<%= form_for @changeset, @action, [as: :user, class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4"], fn f -> %>
  <!--<%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>-->

  <div class="mb-4">
    <%= label f, Pow.Ecto.Schema.user_id_field(@changeset),
      class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= text_input f, Pow.Ecto.Schema.user_id_field(@changeset),
      class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    <%= error_tag f, Pow.Ecto.Schema.user_id_field(@changeset) %>
  </div>

  <div class="mb-6">
    <%= label f, :password,
      class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= password_input f, :password,
      class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    <%= error_tag f, :password %>
  </div>

  <div>
    <%= submit "Sign in",  class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
<% end %>


<span><%= link "Register", to: Routes.pow_registration_path(@conn, :new),
  class: "text-blue-500 hover:text-blue-800"%></span>
</div>
